# AN ANALYTICAL DETECTIVE

Crime is an international concern, but it is documented and handled in very different ways in different countries. In the United States, violent crimes and property crimes are recorded by the Federal Bureau of Investigation (FBI). Additionally, each city documents crime, and some cities release data regarding crime rates. The city of Chicago, Illinois releases crime data from 2001 onward online.

In [21]:
import pandas as pd

##  LOADING THE DATA

In [22]:
datafile = "../data/mvtWeek1.csv"
mvt = pd.read_csv(datafile,dtype='unicode')
df = pd.DataFrame(mvt)

### Analysis

In [23]:
print(df.columns)
print(df.head())
print(df.describe())

Index(['ID', 'Date', 'LocationDescription', 'Arrest', 'Domestic', 'Beat',
       'District', 'CommunityArea', 'Year', 'Latitude', 'Longitude'],
      dtype='object')
        ID            Date            LocationDescription Arrest Domestic  \
0  8951354  12/31/12 23:15                         STREET  FALSE    FALSE
1  8951141  12/31/12 22:00                         STREET  FALSE    FALSE
2  8952745  12/31/12 22:00  RESIDENTIAL YARD (FRONT/BACK)  FALSE    FALSE
3  8952223  12/31/12 22:00                         STREET  FALSE    FALSE
4  8951608  12/31/12 21:30                         STREET  FALSE    FALSE

   Beat District CommunityArea  Year     Latitude     Longitude
0   623        6            69  2012  41.75628399  -87.62164472
1  1213       12            24  2012  41.89878849  -87.66130317
2  1622       16            11  2012  41.96918578  -87.76766974
3   724        7            67  2012  41.76932868  -87.65772562
4   211        2            35  2012  41.83756759  -87.62176133
             ID          Date LocationDescription  Arrest Domestic    Beat  \
count    191641        191641              191641  191641   191641  191641
unique   191641        131680                  78       2        2     300
top     6508710  5/16/08 0:00              STREET   FALSE    FALSE    2512
freq          1            11              156564  176105   191226    1619

       District CommunityArea    Year     Latitude     Longitude
count    148589        167038  191641       189365        189365
unique       27            79      12       152169        152039
top           8            25    2001  41.75465809  -87.74138501
freq      13058          8770   20669          265           265

How many rows of data (observations) are in this dataset? 
n = 191641

In [24]:
print("\nHow many rows of data (observations) are in this dataset?:\n",len(df))
print("\nShape:",df.shape)

How many rows of data (observations) are in this dataset?:
 191641

Shape: (191641, 11)

How many variables are in this dataset?
c = 11

what is the maximum value of the variable "ID"?

In [25]:
print("\nmaximum value of the variable ID is: ",df.ID.max())

maximum value of the variable ID is:  9181151

What is the minimum value of the variable "Beat"?

In [26]:
print("\nminimum value of the variable Beat:",df.Beat.min())

minimum value of the variable Beat: 1011

How many observations have value TRUE in the Arrest variable (this is the number of crimes for which an arrest was made)?

In [27]:
df['Arrest'].value_counts()

FALSE    176105
TRUE      15536
Name: Arrest, dtype: int64

How many observations have a LocationDescription value of ALLEY? 2308

In [28]:
df['LocationDescription'].value_counts()

STREET                                             156564
PARKING LOT/GARAGE(NON.RESID.)                      14852
OTHER                                                4573
ALLEY                                                2308
GAS STATION                                          2111
DRIVEWAY - RESIDENTIAL                               1675
RESIDENTIAL YARD (FRONT/BACK)                        1536
RESIDENCE                                            1302
RESIDENCE-GARAGE                                     1176
VACANT LOT/LAND                                       985
VEHICLE NON-COMMERCIAL                                817
SIDEWALK                                              462
CHA PARKING LOT/GROUNDS                               405
AIRPORT/AIRCRAFT                                      363
POLICE FACILITY/VEH PARKING LOT                       266
PARK PROPERTY                                         255
SCHOOL, PUBLIC, GROUNDS                               206
APARTMENT                                             184
SPORTS ARENA/STADIUM                                  166
CTA GARAGE / OTHER PROPERTY                           148
COMMERCIAL / BUSINESS OFFICE                          126
HOTEL/MOTEL                                           124
SCHOOL, PUBLIC, BUILDING                              114
HOSPITAL BUILDING/GROUNDS                             101
GROCERY FOOD STORE                                     80
CHURCH/SYNAGOGUE/PLACE OF WORSHIP                      56
RESTAURANT                                             49
GOVERNMENT BUILDING/PROPERTY                           48
COLLEGE/UNIVERSITY GROUNDS                             47
CAR WASH                                               44
                                                    ...
AIRPORT VENDING ESTABLISHMENT                          10
ATHLETIC CLUB                                           9
OTHER COMMERCIAL TRANSPORTATION                         8
DRUG STORE                                              8
CONVENIENCE STORE                                       7
BANK                                                    7
FOREST PRESERVE                                         6
FIRE STATION                                            5
AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA          5
DAY CARE CENTER                                         5
CHA APARTMENT                                           5
LAKEFRONT/WATERFRONT/RIVERBANK                          4
LIBRARY                                                 4
BARBERSHOP                                              4
AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA         4
SAVINGS AND LOAN                                        4
ABANDONED BUILDING                                      4
BOWLING ALLEY                                           3
CLEANING STORE                                          3
MEDICAL/DENTAL OFFICE                                   3
BRIDGE                                                  2
COLLEGE/UNIVERSITY RESIDENCE HALL                       2
CURRENCY EXCHANGE                                       2
APPLIANCE STORE                                         1
ANIMAL HOSPITAL                                         1
NEWSSTAND                                               1
CTA TRAIN                                               1
JAIL / LOCK-UP FACILITY                                 1
AIRPORT BUILDING NON-TERMINAL - SECURE AREA             1
AIRPORT EXTERIOR - SECURE AREA                          1
Name: LocationDescription, dtype: int64

## UNDERSTANDING DATES

In many datasets, like this one, you have a date field. Unfortunately, R does not automatically recognize entries that look like dates. We need to use a function in R to extract the date and time. Take a look at the first entry of Date (remember to use square brackets when looking at a certain entry of a variable).

In what format are the entries in the variable Date? Month/Day/Year Hour:Minute

In [29]:
df.Date.head()

0    12/31/12 23:15
1    12/31/12 22:00
2    12/31/12 22:00
3    12/31/12 22:00
4    12/31/12 21:30
Name: Date, dtype: object

Now, let's convert these characters into a Date object in python

In [30]:
from datetime import datetime

In [32]:
df['NewDate']=pd.to_datetime(df['Date'], format="%m/%d/%y %H:%M")

In [ ]:
df.head()

What is the month and year of the median date in our dataset? Enter your answer as "Month Year", without the quotes. (Ex: if the answer was 2008-03-28, you would give the answer "March 2008", without the quotes.)

In [ ]:
import statistics as stat

In [47]:
print("\nMedian Date:",stat.median(df.NewDate).strftime("%B %Y"))

Median Date: May 2006

Now, let's extract the month and the day of the week, and add these variables to our data frame mvt. We can do this with two simple functions

In [72]:
df['Month']=df['NewDate'].dt.month

In which month did the fewest motor vehicle thefts occur? 

2 means February

In [77]:
df.groupby('Month')['ID'].count()

Month
1     16047
2     13511
3     15758
4     15280
5     16035
6     16002
7     16801
8     16572
9     16060
10    17086
11    16063
12    16426
Name: ID, dtype: int64