# READING TEST SCORES

The Programme for International Student Assessment (PISA) is a test given every three years to 15-year-old students from
around the world to evaluate their performance in mathematics, reading, and science. This test provides a quantitative way
to compare the performance of students from different parts of the world. In this homework assignment, we will predict
the reading scores of students from the United States of America on the 2009 PISA exam.

The datasets pisa2009train.csv and pisa2009test.csv contain information about the demographics and schools for
American students taking the exam, derived from 2009 PISA Public-Use Data Files distributed by the United States National
Center for Education Statistics (NCES). While the datasets are not supposed to contain identifying information about
students taking the test, by using the data you are bound by the NCES data use agreement, which prohibits any attempt to
determine the identity of any student in the datasets.

Each row in the datasets pisa2009train.csv and pisa2009test.csv represents one student taking the exam. The datasets
have the following variables:

## Data

Each row in the datasets pisa2009train.csv and pisa2009test.csv represents one student taking the exam. The datasets have the following variables:

grade: The grade in school of the student (most 15-year-olds in America are in 10th grade)

male:Whether the student is male (1/0)

raceeth:The race/ethnicity composite of the student

preschool:Whether the student attended preschool (1/0)

expectBachelors:Whether the student expects to obtain a bachelor's degree (1/0)

motherHS:Whether the student's mother completed high school (1/0)

motherBachelors:Whether the student's mother obtained a bachelor's degree (1/0)

motherWork:Whether the student's mother has part-time or full-time work (1/0)

fatherHS:Whether the student's father completed high school (1/0)

fatherBachelors:Whether the student's father obtained a bachelor's degree (1/0)

fatherWork:Whether the student's father has part-time or full-time work (1/0)

selfBornUS:Whether the student was born in the United States of America (1/0)

motherBornUS:Whether the student's mother was born in the United States of America (1/0)

fatherBornUS:Whether the student's father was born in the United States of America (1/0)

englishAtHome:Whether the student speaks English at home (1/0)

computerForSchoolwork:Whether the student has access to a computer for schoolwork (1/0)

read30MinsADay:Whether the student reads for pleasure for 30 minutes/day (1/0)

minutesPerWeekEnglish:The number of minutes per week the student spend in English class

studentsInEnglish:The number of students in this student's English class at school

schoolHasLibrary:Whether this student's school has a library (1/0)

publicSchool:Whether this student attends a public school (1/0)

urban:Whether this student's school is in an urban area (1/0)

schoolSize: The number of students in this student's school

readingScore:The student's reading score, on a 1000-point scale

##  DATASET SIZE

Load the training and testing sets using the read.csv() function, and save them as variables with the names pisaTrain and pisaTest.

In [9]:
import pandas as pd
dataTrain = "../data/pisa2009train.csv"
dataTest = "../data/pisa2009test.csv"
dfTrain = pd.read_csv(dataTrain)
dfTest = pd.read_csv(dataTest)
train = pd.DataFrame(dfTrain)
test = pd.DataFrame(dfTest)
train.info()
train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3663 entries, 0 to 3662
Data columns (total 24 columns):
grade                    3663 non-null int64
male                     3663 non-null int64
raceeth                  3628 non-null object
preschool                3607 non-null float64
expectBachelors          3601 non-null float64
motherHS                 3566 non-null float64
motherBachelors          3266 non-null float64
motherWork               3570 non-null float64
fatherHS                 3418 non-null float64
fatherBachelors          3094 non-null float64
fatherWork               3430 non-null float64
selfBornUS               3594 non-null float64
motherBornUS             3592 non-null float64
fatherBornUS             3550 non-null float64
englishAtHome            3592 non-null float64
computerForSchoolwork    3598 non-null float64
read30MinsADay           3629 non-null float64
minutesPerWeekEnglish    3477 non-null float64
studentsInEnglish        3414 non-null float64
schoolHasLibrary         3520 non-null float64
publicSchool             3663 non-null int64
urban                    3663 non-null int64
schoolSize               3501 non-null float64
readingScore             3663 non-null float64
dtypes: float64(19), int64(4), object(1)
memory usage: 686.9+ KB

,grade,male,preschool,expectBachelors,motherHS,motherBachelors,motherWork,fatherHS,fatherBachelors,fatherWork,...,englishAtHome,computerForSchoolwork,read30MinsADay,minutesPerWeekEnglish,studentsInEnglish,schoolHasLibrary,publicSchool,urban,schoolSize,readingScore
count,3663.000000,3663.000000,3607.000000,3601.000000,3566.000000,3266.000000,3570.000000,3418.000000,3094.000000,3430.000000,...,3592.000000,3598.000000,3629.000000,3477.000000,3414.000000,3520.000000,3663.000000,3663.000000,3501.000000,3663.000000
mean,10.089817,0.511057,0.722761,0.785893,0.879978,0.348132,0.734454,0.859274,0.331933,0.853061,...,0.871659,0.899389,0.289887,266.208225,24.499414,0.967614,0.933934,0.384930,1369.316767,497.911403
std,0.554375,0.499946,0.447697,0.410259,0.325033,0.476451,0.441685,0.347789,0.470983,0.354096,...,0.334515,0.300855,0.453772,148.403525,7.184348,0.177049,0.248431,0.486645,869.983618,95.515153
min,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,100.000000,168.550000
25%,10.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,0.000000,225.000000,20.000000,1.000000,1.000000,0.000000,712.000000,431.705000
50%,10.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,...,1.000000,1.000000,0.000000,250.000000,25.000000,1.000000,1.000000,0.000000,1212.000000,499.660000
75%,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,300.000000,30.000000,1.000000,1.000000,1.000000,1900.000000,566.230000
max,12.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,2400.000000,75.000000,1.000000,1.000000,1.000000,6694.000000,746.000000

How many students are there in the training set?

In [6]:
print("\nShape Training set:",train.shape)

Shape Training set: (3663, 24)

on pisaTrain, what is the average reading test score of males?

Of females?

In [22]:
maleTrain = train[train.male==1]
femaleTrain = train[train.male==0]
maleTrain.readingScore.mean()
print("\naverage reading test score of males:",maleTrain.readingScore.mean())

average reading test score of males: 483.53247863247805

In [24]:
print("\naverage reading test score of females:",femaleTrain.readingScore.mean())

average reading test score of females: 512.94063093244

In [25]:
pd.isnull(train).sum() > 0

grade                    False
male                     False
raceeth                   True
preschool                 True
expectBachelors           True
motherHS                  True
motherBachelors           True
motherWork                True
fatherHS                  True
fatherBachelors           True
fatherWork                True
selfBornUS                True
motherBornUS              True
fatherBornUS              True
englishAtHome             True
computerForSchoolwork     True
read30MinsADay            True
minutesPerWeekEnglish     True
studentsInEnglish         True
schoolHasLibrary          True
publicSchool             False
urban                    False
schoolSize                True
readingScore             False
dtype: bool

Linear regression discards observations with missing data, so we will remove all such observations from the training and
testing sets. Later in the course, we will learn about imputation, which deals with missing data by filling in missing values
with plausible information.

In [30]:
pisaTrain = train.dropna()
pisaTrain.shape

(2414, 24)

In [31]:
pisaTest = test.dropna()
pisaTest.shape

(990, 24)

Factor variables are variables that take on a discrete set of values, like the "Region" variable in the WHO dataset from the
second lecture of Unit 1. This is an unordered factor because there isn't any natural ordering between the levels. An
ordered factor has a natural ordering between the levels (an example would be the classifications "large," "medium," and
"small").