# STOCK DYNAMICS

A stock market is where buyers and sellers trade shares of a company, and is one of the most popular ways for individuals
and companies to invest money. The size of the world stock market is now estimated to be in the trillions. The largest stock
market in the world is the New York Stock Exchange (NYSE), located in New York City. About 2,800 companies are listed on
the NSYE. In this problem, we'll look at the monthly stock prices of five of these companies: IBM, General Electric (GE),
Procter and Gamble, Coca Cola, and Boeing. The data used in this problem comes from Infochimps.

Call the data frames "IBM", "GE", "ProcterGamble", "CocaCola", and "Boeing", respectively. Each data frame has two
variables, described as follows:
Date: the date of the stock price, always given as the first of the month.
StockPrice: the average stock price of the company in the given month.
In this problem, we'll take a look at how the stock dynamics of these companies have changed over time.

In [22]:
import pandas as pd

In [23]:
datafile = "../data/BoeingStock.csv"
f1 = pd.read_csv(datafile,dtype='unicode')
Boeing = pd.DataFrame(f1)

In [24]:
datafile = "../data/CocaColaStock.csv"
f2 = pd.read_csv(datafile,dtype='unicode')
CocaCola = pd.DataFrame(f2)

In [25]:
datafile = "../data/GEStock.csv"
f3 = pd.read_csv(datafile,dtype='unicode')
GE = pd.DataFrame(f3)

In [26]:
datafile = "../data/IBMStock.csv"
f4 = pd.read_csv(datafile,dtype='unicode')
IBM = pd.DataFrame(f3)

In [27]:
datafile = "../data/ProcterGambleStock.csv"
f5 = pd.read_csv(datafile,dtype='unicode')
ProcterGamble = pd.DataFrame(f5)

SUMMARY STATISTICS

Before working with these data sets, we need to convert the dates into a format that R can understand. Take a look at the
structure of one of the datasets using the str function. Right now, the date variable is stored as a factor. We can convert this
to a "Date" object in R by using the following five commands (one for each data set):

In [28]:
IBM.dtypes
IBM.head(n=30)

       Date   StockPrice
0    1/1/70  74.25333333
1    2/1/70  69.97684211
2    3/1/70  72.15857143
3    4/1/70  74.25272727
4    5/1/70   66.6652381
5    6/1/70  67.59318182
6    7/1/70  72.69636364
7    8/1/70  76.14666667
8    9/1/70  80.46285714
9   10/1/70  84.69181818
10  11/1/70      86.3295
11  12/1/70  89.95818182
12   1/1/71       96.691
13   2/1/71       104.15
14   3/1/71  109.9430435
15   4/1/71  118.4804762
16   5/1/71      120.598
17   6/1/71  73.68272727
18   7/1/71  57.96666667
19   8/1/71  58.15545455
20   9/1/71  62.64380952
21  10/1/71  61.22761905
22  11/1/71  57.15095238
23  12/1/71        62.53
24   1/1/72  63.19809524
25   2/1/72      60.5085
26   3/1/72  63.35227273
27   4/1/72      68.0165
28   5/1/72  67.69136364
29   6/1/72  67.12863636

In [30]:
from datetime import datetime
IBM['Date']=pd.to_datetime(IBM['Date'], format="%m/%d/%y")
GE['Date']=pd.to_datetime(IBM['Date'], format="%m/%d/%y")
ProcterGamble['Date']=pd.to_datetime(IBM['Date'], format="%m/%d/%y")
Boeign['Date']=pd.to_datetime(IBM['Date'], format="%m/%d/%y")
CocaCola['Date']=pd.to_datetime(IBM['Date'], format="%m/%d/%y")

The first argument to the as.Date function is the variable we want to convert, and the second argument is the format of the
Date variable. We can just overwrite the original Date variable values with the output of this function. Now, answer the
following questions using the str and summary functions.

Our five datasets all have the same number of observations. How many observations are there in each data set?

In [35]:
print("\nShape Boeing:",Boeing.shape)
print("\nShape GE:",GE.shape)
print("\nShape CocaCola:",CocaCola.shape)
print("\nShape ProcterGamble:",ProcterGamble.shape)
print("\nShape IBM:",IBM.shape)

Shape Boeing: (480, 2)

Shape GE: (480, 2)

Shape CocaCola: (480, 2)

Shape ProcterGamble: (480, 2)

Shape IBM: (480, 2)

In [ ]:
## SUMMARY STATISTICS

What is the earliest year in our datasets?

In [44]:
import statistics as stat

What is the mean stock price of IBM over this time period?

In [36]:
print("\nminimum value of the variable IBM price:",IBM.StockPrice.min())

minimum value of the variable Beat: 10.79

In [39]:
print("\nminimum value of the variable Date:",IBM.Date.min())

minimum value of the variable Date: 1970-01-01 00:00:00

What is the latest year in our datasets?

In [40]:
print("\Maximum value of the variable Date:",IBM.Date.max())

\Maximum value of the variable Date: 2009-12-01 00:00:00

What is the mean stock price of IBM over this time period?

In [50]:
IBM['StockPrice'] = pd.to_numeric(IBM['StockPrice'], errors='coerce')
IBM.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 480 entries, 0 to 479
Data columns (total 2 columns):
Date          480 non-null datetime64[ns]
StockPrice    480 non-null float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 7.6 KB

What is the minimum stock price of General Electric (GE) over this time period?

In [51]:
print("\nminimum value of the variable StockPrice:",IBM.StockPrice.min())

minimum value of the variable StockPrice: 9.293636364

What is the maximum stock price of Coca-Cola over this time period?

In [53]:
print("\nminimum value of the variable StockPrice:",CocaCola.StockPrice.min())

minimum value of the variable StockPrice: 101.9390476

What is the median stock price of Boeing over this time period?